<div class="item-view panel">
  <div class="panel-header">
    <b>{{'pageelements'|translate}}</b>
  </div>
  <table>
    <tr class="td-header">
      <th>{{'elemntid'|translate}}</th>
      <th>{{'elemntname'|translate}}</th>
      <th>{{'elemnttype'|translate}}</th>
      <th>{{'elemntcontrol'|translate}}</th>
      <th>{{'elemntsort'|translate}}</th>
      <th>{{'status'|translate}}</th>
    </tr>
    <ng-template [ngTemplateOutlet]="loadTemplate()">
    </ng-template>
  </table>
</div>

<!--шаблон для читання-->
<ng-template #readOnlyTemplate>
  <tr class="td-body" *ngFor="let item of items" [class.inactive-element]="item.Status==9">
    <td>{{item.Item_ID}}</td>
    <td>{{item.DisplayValue}}</td>
    <td>{{item.ValueType}}</td>
    <td>{{item.ControlType}}</td>
    <td>{{item.SortOrder}}</td>
    <td>{{item.Status}}</td>
  </tr>
  <tr>
    <td colspan="6">
      <a class="swe-button-icon" [routerLink]="" (click)="addItem()"><i class="fa fa-plus  fa-2x" aria-hidden="true"> </i></a>
      <a class="swe-button-icon" [routerLink]="" (click)="edit=true"><i class="fa fa-pencil-square-o  fa-2x" aria-hidden="true"> </i></a>
    </td>
  </tr>
</ng-template>

<!--шаблон для редагування-->
<ng-template #editTemplate>
  <tr class="td-body" *ngFor="let item of items">
    <td>{{item.Item_ID}}</td>
    <td> <input type="text" [(ngModel)]="item.DisplayValue"></td>
    <td><input type="text" [(ngModel)]="item.ValueType"></td>
    <td><input type="text" [(ngModel)]="item.ControlType"></td>
    <td><input type="text" [(ngModel)]="item.SortOrder"></td>
    <td>
      <select [(ngModel)]="item.Status">
        <option value="2">2 - {{'active'|translate}}</option>
        <option value="9">9 - {{'notactive'|translate}}</option>
      </select>

    </td>
  </tr>
  <tr>
    <td colspan="6">
      <a class="swe-button-icon" [routerLink]="" (click)="edit=false"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"> </i></a>
    </td>
  </tr>
</ng-template>
