<div class="aboutme panel">
  <div class="leftaboutme">
    <div class="aboutphoto">
      <img src="/assets/img/I_black.jpg">
    </div>
    <div class="aboutphototext">
      {{'aboutphoto'|translate}}
    </div>
  </div>

  <div class="rightaboutme">
    <div class="info-block">
      <div class="aboutmeheader">
        <b>{{'aboutme'|translate | uppercase}}</b>
      </div>

      <p class="info">
        <span class="field-title">{{'fullname'|translate}}</span>  <span class="field-value">{{'vbruger'|translate}}</span></p>
      <p class="info">
        <span class="field-title">{{'contacts'|translate}}</span>  <span class="field-value">+38(067)908-978-3  <br> 	vitalybruger@gmail.com</span></p>
      <p class="info">
        <span class="field-title">{{'workexperience'|translate}}</span>
        <span class="field-value">
          {{'workperiod'|translate}} <br>
          {{'ssbs'|translate}} <br>
          {{'senior'|translate}} <br>
          {{'responsibilities'|translate}}:<br>
           • {{'responsibility1'|translate}}<br>
           • {{'responsibility2'|translate}}<br>
           • {{'responsibility3'|translate}}<br>
           • {{'responsibility4'|translate}}<br>
           • {{'responsibility5'|translate}}<br>
        </span>
      </p>
      <p class="info">
        <span class="field-title">{{'additionalskills'|translate}}</span>
        <span class="field-value">
           • HTML, CSS, Javascript, Angular, NodeJS<br>
        </span>
      </p>
      <p class="info">
        <span class="field-title">{{'languages'|translate}}</span>
        <span class="field-value">
          {{'languageEN'|translate}}<br>
          {{'languageUA'|translate}}<br>
          {{'languageRU'|translate}}<br>
        </span>
      </p>
    </div>
    <div class="buttons-block">
      <div class="center about-botton tooltip">
        <a href="https://drive.google.com/open?id=1irSjkWjmt6m7Skp7-V2a0vW9nWATg0af" target="_blank"><i class="fa fa-download  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'downloadresume'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="mailto:vitalybruger@gmail.com"><i class="fa fa-envelope-o  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'emailme'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="https://github.com/VitalyBruger" target="_blank"><i class="fa fa-github  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'github'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="https://www.linkedin.com/in/vitaly-bruger-14644a75/" target="_blank"><i class="fa fa-linkedin  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'linkedin'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="https://www.facebook.com/brugervitaly" target="_blank"><i class="fa fa-facebook  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'facebook'|translate}}</span>
      </div>
    </div>
  </div>
</div>
