<div class="aboutme panel">
  <div class="leftaboutme">
    <div class="aboutphoto">
      <img src="/assets/img/I_black.jpg">
    </div>
    <div class="aboutphototext">
      {{'aboutphoto'|translate}}
    </div>
  </div>

  <div class="rightaboutme">
    <div class="info-block">
      <div class="aboutmeheader">
        <b>{{'aboutme'|translate | uppercase}}</b>
      </div>

      <p class="info">
        <span class="field-title">{{'fullname'|translate}}</span>  <span class="field-value">{{'vbruger'|translate}}</span></p>
      <p class="info">
          <span class="field-title">{{'contacts'|translate}}</span>  <span class="field-value">+38(067)908-978-3  <br> 	vitalybruger@gmail.com</span></p>
      <p class="info">
        <span class="field-title">Work Experience</span>
        <span class="field-value">
          Aug 2019 - present <br>
          SoftServe Business Systems, Lviv <br>
          Senior Business Consultant <br>
          Responsibilities:<br>
           • Software implementation/customer support<br>
           • Testing mobile and web applications<br>
           • SQL scripts for reports<br>
        </span>
      </p>
      <p class="info">
        <span class="field-title">Additional Skills</span>
        <span class="field-value">
           • HTML, CSS, Javascript, Angular, NodeJS<br>
        </span>
      </p>
      <p class="info">
        <span class="field-title">Languages</span>
        <span class="field-value">
          Ukraine — Native<br>
          Russian — Fluent<br>
          English — Intermediate<br>
        </span>
      </p>
    </div>
    <div class="buttons-block">
      <div class="center about-botton tooltip">
        <a><i class="fa fa-download  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'downloadresume'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="mailto:vitalybruger@gmail.com"><i class="fa fa-envelope-o  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'emailme'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="https://github.com/VitalyBruger" target="_blank"><i class="fa fa-github  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'github'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="https://www.linkedin.com/in/vitaly-bruger-14644a75/" target="_blank"><i class="fa fa-linkedin  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'linkedin'|translate}}</span>
      </div>

      <div class="center about-botton tooltip">
        <a  href="https://www.facebook.com/brugervitaly" target="_blank"><i class="fa fa-facebook  fa-2x" aria-hidden="true"> </i></a>
        <span class="tooltiptext tooltip-left">{{'facebook'|translate}}</span>
      </div>
    </div>
  </div>
</div>
